# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
cities = pd.read_csv("weather.csv", encoding="utf-8")
cities = cities.drop(['Unnamed: 0'], axis=1)
cities.head()

,City Name,Cloud density,Lat,Lng,Country,Date,Humidity,Max Tempture,Wind Speed
0,bethel,1,41.37,-73.41,US,1595306809,83,73.00,3.36
1,ushuaia,0,-54.80,-68.30,AR,1595306583,85,25.95,3.60
2,monrovia,100,6.30,-10.80,LR,1595306809,88,76.30,11.88
3,port alfred,1,-33.59,26.89,ZA,1595306809,62,58.89,8.21
4,anamur,20,36.08,32.84,TR,1595306809,88,73.40,1.12

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
humidity = cities["Humidity"].astype(float)
locations = cities[["Lat", "Lng"]]

In [4]:
gmaps.configure(api_key=g_key)
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,dissipating=False, max_intensity=humidity.max(),point_radius=5)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
narrowed_city_df = cities.loc[(cities["Max Tempture"] > 70) & (cities["Max Tempture"] < 80) & (cities["Cloud density"] == 0), :]
narrowed_city_df = narrowed_city_df.dropna(how='any')
narrowed_city_df.reset_index(inplace=True)
del narrowed_city_df['index']
narrowed_city_df.head()

,City Name,Cloud density,Lat,Lng,Country,Date,Humidity,Max Tempture,Wind Speed
0,belogorsk,0,50.92,128.46,RU,1595306810,41,78.21,12.08
1,matay,0,28.42,30.78,EG,1595306810,62,76.17,14.88
2,arraial do cabo,0,-22.97,-42.03,BR,1595306805,84,70.07,18.23
3,sao joao da barra,0,-21.64,-41.05,BR,1595306828,90,70.11,10.13
4,carnarvon,0,-24.87,113.63,AU,1595306846,31,78.80,11.41

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
hotels = []

for index, row in narrowed_city_df.iterrows():
    lat = row['Lat']
    lng = row['Lng']

    params = {
        "location": f"{lat},{lng}",
        "radius": 5000,
        "types" : "hotel",
        "key": g_key
    }
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    requested = requests.get(base_url, params=params)
    jsn = requested.json()
    
    try:
        hotels.append(jsn['results'][0]['name'])
    except:
        hotels.append("")
        
narrowed_city_df["Hotel Name"] = hotels
narrowed_city_df = narrowed_city_df.dropna(how='any')
narrowed_city_df.head()

,City Name,Cloud density,Lat,Lng,Country,Date,Humidity,Max Tempture,Wind Speed,Hotel Name
0,belogorsk,0,50.92,128.46,RU,1595306810,41,78.21,12.08,Belogorsk
1,matay,0,28.42,30.78,EG,1595306810,62,76.17,14.88,Matay
2,arraial do cabo,0,-22.97,-42.03,BR,1595306805,84,70.07,18.23,Cabo Frio
3,sao joao da barra,0,-21.64,-41.05,BR,1595306828,90,70.11,10.13,Grussaí
4,carnarvon,0,-24.87,113.63,AU,1595306846,31,78.80,11.41,Carnarvon

In [10]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City Name}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = narrowed_city_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations)
fig.add_layer(markers)
fig
# Display Map